.slide-to-left,
.stretch-to-right,
.slide-to-right,
.slide-to-down,
.slide-to-up,
.scale-down,
.scale-up {
  opacity: 0;
  -webkit-transition: opacity 1s $cubic-bezier,
    -webkit-transform 1s $cubic-bezier;
  transition: opacity 1s $cubic-bezier, -webkit-transform 1s $cubic-bezier;
  -o-transition: transform 1s $cubic-bezier, opacity 1s $cubic-bezier;
  transition: transform 1s $cubic-bezier, opacity 1s $cubic-bezier;
  transition: transform 1s $cubic-bezier, opacity 1s $cubic-bezier,
    -webkit-transform 1s $cubic-bezier;
}

.slide-to-left {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

.slide-to-right {
  -webkit-transform: translateX(-1.5rem);
  -ms-transform: translateX(-1.5rem);
  transform: translateX(-1.5rem);
}

.slide-to-down {
  -webkit-transform: translateY(-1.5rem);
  -ms-transform: translateY(-1.5rem);
  transform: translateY(-1.5rem);
}

.slide-to-up {
  -webkit-transform: translateY(1.5rem);
  -ms-transform: translateY(1.5rem);
  transform: translateY(1.5rem);
}

.stretch-to-right {
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}

.scale-down {
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
}

.scale-up {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
